.conteiner{
    position: absolute;
    top: 16%;
    left: 5%;
    text-align: 100%;
    padding: 10px;
    height: 50px;
    width: 200px;
}
.letra {
    color: #5f6368;
    background: none;
    position: absolute;
    top: 15%;
    left: 510%;
    text-align: 100%;
    padding: 10px;
    height: 80px;
    width: 300px;
    border-radius: 24px;
    margin: 20px auto;
    display: block;
    border: 1px solid #5f6368;
    outline: none;
    text-align: center;
    transition: 0.25;
    padding: 14px 40px;
    

}
.ola{
    font-size: 80%;
    position: absolute;
    top: 15%;
    left: 40%;
    text-align: 100%;
    width: 300px;
}
.oi{
    font-size: medium;
    color: #5f6368;
    background: none;
    position: absolute;
    top: 90%;
    left: -50%;
    text-align: 100%;
    padding: 10px;
    height: 80px;
    width: 300px;
    border-radius: 24px;
    margin: 100px auto;
    display: block;
    border: 1px solid #5f6368;
    outline: none;
    text-align: center;
    transition: 0.25;
    padding: 14px 40px;

}

.m {
    font-size: 160%;
    position: absolute;
    top: 280%;
    left: 0%;
    text-align: 100%;
    width: 300px;

}

.j{
    font-size: 180%;
    color: #5f6368;
    background: none;
    position: absolute;
    top: 400%;
    left: -50%;
    text-align: 100%;
    padding: 50px;
    height: 80px;
    width: 300px;
    border-radius: 24px;
    margin: 100px auto;
    display: block;
    border: 1px solid #5f6368;
    outline: none;
    text-align: center;
    transition: 0.25;
    padding: 14px 40px;

}

.xj{
    font-size: 100%;
    position: absolute;
    top: 0%;
    left: 10%;
    text-align: 100%;
    width: 310px;

}

.n{
    font-size: 130%;
    position: absolute;
    top: -20%;
    left: 38%;
    text-align: 100%;
    width: 310px;
}
.ma{
    font-size: medium;
    color: #5f6368;
    background: none;
    position: absolute;
    top: 70%;
    left: 0%;
    text-align: 100%;
    padding: 10px;
    height: 80px;
    width: 300px;
    border-radius: 24px;
    margin: 100px auto;
    display: block;
    border: 1px solid #5f6368;
    outline: none;
    text-align: center;
    transition: 0.25;
    padding: 14px 40px;
}
.mat{
    font-size: 130%;
    position: absolute;
    top: 150%;
    left: 13%;
    text-align: 100%;
    width: 300px;
}
.valor{
    font-size: 60%;
    position: absolute;
    top: 170%;
    left: 40%;
    text-align: 100%;
    width: 300px;
}